/* this will apply to all the elements in the html*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* stylling for the header  */
header{
    padding-left: 20px;
    height: 15%;
    width: 100%;
    position: fixed; /*to heep header always at the top*/
    top: 0;
    background-color: #121C3B;
    color: #00FFFF;
    padding: 3%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1%;
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.2);
    z-index: 1000; /* to keep header on the frount of the contect*/
}

/* stylling for the body element */
body{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/*Stylling for the main class except header and footer it is main class for every element*/
.main{
    width: 90%;
    height: 95vh;
    gap: 10px;
}

/* to keep the navigation bar on the right side and fixed even if the page moves */
.fix{
    position: fixed;
    top: 10%;
    right:0;
}

/*stylling for the unorderlist element which is key for making the navigation bar*/
.menu ul{
    list-style: none;
    padding: 50px;
}

/* for the stylling of the picture icon for the navigation */
.icon{
    width: 50px;
    transition: transform 0.5s ease-in-out;
    border: 2px solid #00FFFF;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}

/* to heilight which of the navigation icon we currentle are  */
.current{
    width: 50px;
    transition: transform 0.5s ease-in-out;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #D12D1B;
    padding: 10px;
}

/* for the mouse hover over the icon of navigation bar  */
.icon:hover{
    transform: translateY(-5px);
    background-color: #00FFFF;
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.6);
}
.menu li{
    padding-top: 30px;
}

/*intro class is for the content in the webpage*/
.intro{
    width: 75%;
    height: auto;
    position: absolute;
    top: 25%;
    padding-bottom: 10%;
    overflow: auto;
}

/* the fallowing code is for the fade in trasition of the all the text and media in the webpage*/
.intro h1, .intro p, .intro img, .intro h2 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* fallowing code for the stylling of the h1 and p tags use in the webpage*/
.intro h1{
    color: white;
    font-size: 300%;
    text-align: center;
}
.intro p{
    color: white;
    font-size: 150%;
    text-align: center;
}

/* this is to apply style to the pictures of the project we added */
.project {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 20px;
}
.project a {
    width: 45%; 
    text-align: center; 
    transition: transform 0.3s ease-in-out;
    gap: 30px;
}
.project img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    transition: transform 0.3s ease-in-out;
}
.project a:hover {
    transform: scale(1.05); 
    border: 2px solid;
    border-image: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF,#4B0082, #8B00FF) 1;
    box-shadow: 0 0 10px #00FFFF;
}

/* to highlight the the text in heading  */
.little{
    color: #D12D1B;
}

/*the stylling of the footer*/
footer{
    max-height: 5%;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #121C3B;
    color: #00FFFF;
    padding: 1%;
    margin-top: 5%;
    font-size: 14px;
    letter-spacing: 1px;
}